<!DOCTYPE>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="./CSS/index.css">

    </head>
    <body>
        <div class="backgroundbox">
            
            <div class="header">

                <div class="logotipo"><h1>API RESTAURANTE/LANCHONETE</h1></div>

                <nav>
                    <div class="navbox">

                        <a href="">Problema</a>
                        <a href="">Objetivo</a>
                        <a href="">Diagramas</a>
                        <a href="">Regra de negócio</a>
                        <a href="">Manual</a>
                        <a href="">Contato</a>
                    </div>
                </nav>

            </div>

            <section>
                
                <div class="conteudobox">
                    <h2>PROBLEMA</h2>
                    <p>
                        
                    </p>
                </div>

                <div class="conteudobox">
                    <h2>OBJETIVO</h2>
                    <p>
                        
                    </p>
                </div>

                <div class="conteudobox">
                    <h2>DIAGRAMAS</h2>
                    <p>
                        
                    </p>
                </div>

                <div class="conteudobox">
                    <h2>REGRAS DE NEGÓCIO</h2>
                    <p>
                        
                    </p>
                </div>

                <div class="conteudobox">
                    <h2>MANUAL</h2>
                    <p>
                        
                    </p>
                </div>

                <div class="conteudobox">
                    <h2>CONTATO</h2>
                    <p>
                        
                    </p>
                </div>

            </section>

        </div>
    </body>
</html>