<!DOCTYPE>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
        <title>API RESTAURANTE/LANCHONETE</title>
        <style>
            @import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');

            body{width: 100%;height: auto;background-color:#e2e2e2;box-sizing: border-box;}

            .backgroundbox{width: 100%;height: auto;}

            .header{width: 100%;height: 200px;display: flex; }

            .logotipo{flex-wrap: nowrap;width: 40%;height: 160px; margin: 15px 20px;}

            .logotipo h1{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 35px; font-style: oblique;}

            .navbox{width: 50%;height: 100px;margin: 90px 20px;display: flex;}

            .navbox a{margin: 10px;text-decoration: none;flex-wrap: nowrap;font-size: 20px;text-align: center; color: #76777c;}

            .navbox a:hover{color: #121a35;}

            section{ width: 100%;height: auto; }

            .conteudobox{width: 90%;height: auto;margin: 0 auto; text-align: center;}

            .conteudobox h2{text-transform: uppercase; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 30px;margin: 25px;}

            .conteudobox p,caption{ text-indent:2em; line-height: 2em;  margin-top: 15px; margin-bottom: 15px; text-align: justify;  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: black;}

            .conteudobox ul, li{line-height: 2em; list-style: circle;  text-align: left; font-size: 18px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   color: black;}
            .conteudobox a{text-decoration: none;}
            .Diagrama{margin-top: 30px; margin-bottom: 30px; margin-left: 35%;}
            .boxContato{width: 90%;height: auto;margin: 0 auto; text-align: center; }

            .informacoesContato { font-style: italic; }
            .boxtabela{width: 90%; height: auto; display: flex; flex-wrap: wrap;}
            table{ width: 300px; height: 280px; margin: 7.5px;}
            th, td{ border: 1px solid black; width: auto; height: auto;}
            span{ margin-left: 7.5px; margin-right: 7.5px;}

        </style>
    </head>
    <body>
        <div class="backgroundbox">
            
            <div class="header">

                <div class="logotipo"><h1>API RESTAURANTE/LANCHONETE</h1></div>

                <nav>
                    <div class="navbox">
                        <a href="#Home">Inicio</a>
                        <a href="#Problema">Problema</a>
                        <a href="#Objetivo">Objetivo</a>
                        <a href="#Diagramas">Diagramas</a>
                        <a href="#Regra_negocio">Regra de negócio</a>
                        <a href="#Tecnologias">Tecnologias</a>
                        <a href="#Contato">Contato</a>
                    </div>
                </nav>

            </div>

            <section id="Home">
                
                <div class="conteudobox">
                    <h2 id="Problema">PROBLEMA</h2>
                    <p>
                        A gerência de um estabelecimento da área de alimentação, requer uma gerência, complexa, pelo fato de ser vários setores se conversando e trocando informações entre si, de modo que um depende totalmente do bom desempenho do outro.                    </p>
                    <p>
                        O fator Humano requer um treinamento adequado, claro e objetivo, de modo que todos os integrantes da equipe saibam suas funções, direitos e deveres, já o fator Sistema que manipula, gerencia as informações produzidas pelas equipes, requer um ajuste fino, adaptado e adequado a cada setor, em relação aquela empresa em questão, pois o funcionamento de cada empreendimento independente o porte e o tamanho funciona de maneira única.                    </p>
                    <p>
                        A análise das funções básicas nos trás ao problema de gerência de estoque, precificação dos produtos, de maneira a garantir o funcionamento saudável do negócio.                    </p>
                </div>

                <div class="conteudobox">
                    <h2 id="Objetivo">OBJETIVO</h2>
                    <p>
                        Possibilitar ao administrador, e sua equipe, uma ferramenta capaz de auxiliar, em funções que devem ser automatizadas, fazendo assim que os membros das equipes desempenhar as funções sabendo que há um sistema para atende-los dando suporte aos mesmos.                    </p>
                    <p>
                        garantir que haja uma base automatizada para cálculos internos, do cadastro da nota fiscal com a segurança de que não haja erro de valores, pois internamente há fatores que impossibilitam o erro, trazendo segurança e transparência, e evitando problemas no calculo financeiro posteriormente.                     </p>
                    <p>
                        A Precificação dos produtos é baseada em porcentagem aplicadas internamente, no ato do cadastro de produtos(matéria prima para particionamento em ingredientes) e novamente na união dos ingredientes em itens disponíveis no cardápio valorizando assim o trabalho das equipes envolvidas.                    </p>
                </div>
                
                <div class="conteudobox" style="text-align: center;">
                  <h2 id="Diagramas">DIAGRAMAS</h2>
                  <p>
                    Os Diagramas estão presentes no pdf na pasta documentação na pagina do gitHub <a href="https://github.com/marcelquin/Restaurante/tree/main/Documentação" target="_blank">Clicando Aqui</a> ou abrindo o arquivo em uma nova guia <a href="./diagrama.pdf" target="_blank">Clicando aqui</a>
                  </p>                   
                </div>

                <div class="conteudobox">
                    <h2 id="Regra_negocio">REGRAS DE NEGÓCIO</h2>
                    <p>
                        <h2>1.Fornecedor</h2>
                        <ul>
                            <li>1.1 - Os campos não podem ser nulos</li>
                            <li>1.2 - A data de início  de contrato deve ser inserida no formato: dd/mm/aaaa exemplo: 10/02/2024 </li>
                            <li>1.3 - O campo CNPJ não deve conter letras e caracteres especiais</li>
                            <li>1.4 - O campos Telefone não deve conter letras e caracteres especiais</li>
                            <li>1.5 - Os campos Email deve ser um email válido para contato</li>
                            <li>1.6 - Os campos CEP deve conter apenas números</li>
                            <li>1.7 - As datas de controle são obtidas automaticamente pelo sistema</li>
                        </ul>
                    </p>
                    <p>
                        <h2>2.Nota Fiscal</h2>
                        <ul>
                            <li>2.1 - Os campos não podem ser nulos</li>
                            <li>2.2 - O Fornecedor deve ter sido inserida no banco de dados para que o processo seja concluido comn sucesso</li>
                            <li>2.3 - O valor da nota deve ser inserida integralmente, sendo lançada o valor relacionada a cada produto posteriormente</li>
                            <li>2.4 - No valor da nota fiscal há um controle que garante o lançamento integral do valor cadastrado</li>
                            <li>2.5 - O campo Valor Nota Fiscal não deve conter letras e caracteres especiais</li>
                            <li>2.6 - O campos Numero Nota Fiscal não deve conter letras e caracteres especiais</li>
                            <li>2.7 - As Datas de controle são obtidos automaticamente</li>
                        </ul>
                    </p>
                    <p>
                        <h2>3.Produto</h2>
                        <ul>
                            <li>3.1 - Os campos não podem ser nulos</li>
                            <li>3.2 - A Nota Fiscal deve ter sido inserida no banco de dados para que o processo seja concluído com sucesso</li>
                            <li>3.3 - O valor da nota fiscal relacionada ao produto deve ser individual para cada item, para que o processo aconteça corretamente</li>
                            <li>3.4 - O campo Nome deve ser breve e objetivo</li>
                            <li>3.5 - O campo Descrição deve ser breve e objetivo</li>
                            <li>3.6 - O campos Quantidade está relacionado de acordo com a unidade de medida selecionada, adequada a cada produto</li>
                            <li>3.7 - O campos Porcentagem é a primeira adição de valor, ela não pode ser alterada posteriormente em relação a nota fiscal de entrada do produto, podendo ser alterado somente com o lançamento de uma nova nota fiscal</li>
                            <li>3.8 - As Datas de controle são obtidos automaticamente</li>
                        </ul>
                    </p>
                    <p>
                        <h2>4.ingredientes</h2>
                        <ul>
                            <li>4.1 - Os campos não podem ser nulos</li>
                            <li>4.2 - O produto/Matéria prima deve ter sido inserida no banco de dados para que o processo seja concluído com sucesso</li>
                            <li>4.3 - O campo Nome deve ser breve e objetivo</li>
                            <li>4.4 - O campo Descrição deve ser breve e objetivo</li>
                            <li>4.5 - O campos Quantidade está relacionado com o estoque do ingrediente</li>
                            <li>4.6 - O campos Quantidade de produto está relacionado com a quantidade necessária para o preparo do ingredientes em "g" quando a unidade de medida selecionada na entidade produto for "KG" e "ml" em "L"</li>
                            <li>4.7 - Há cálculos automatizados para fazer a redução automática no estoque do produto</li>
                            <li>4.8 - As Datas de controle são obtidos automaticamente</li>
                        </ul>
                    </p>
                    <p>
                        <h2>5.Item Cardápio</h2>
                        <ul>
                            <li>5.1 - Os campos não podem ser nulos</li>
                            <li>5.2 - O ingrediente deve ter sido inserido no banco de dados para que o processo seja concluído com sucesso.</li>
                            <li>5.3 - É possível utilizar vários ingredientes para criação do item, todos devem existir no banco de dados para que o processo seja concluído com sucesso.</li>
                            <li>5.4 - O campo Nome deve ser breve e objetivo</li>
                            <li>5.5 - O campo Descrição deve ser breve e objetivo</li>
                            <li>5.6 - O campos Quantidade reservada é preenchido automaticamente pelo sistema</li>
                            <li>5.7 - A porcentagem aplicada nesta fase leva em conta o custo do preparo dos ingredientes e o lucro desejado no produto final disponível para venda</li>
                            <li>5.8 - Há cálculos automatizados para fazer a redução automática no estoque do ingrediente, assim como reserva garantindo que ao pedir um item tenha os ingredientes necessários</li>
                            <li>5.9 - As Datas de controle são obtidos automaticamente</li>
                        </ul>
                    </p>
                    <p>
                        <h2>6.Atendimento</h2>
                        <ul>
                            <li>6.1 - Os campos não podem ser nulos</li>
                            <li>6.2 - Os itens adicionados devem ter sido inserido no banco de dados para que o processo seja concluído com sucesso.</li>
                            <li>6.3 - É possível adicionar vários itens ao pedido, todos devem existir no banco de dados para que o processo seja concluído com sucesso.</li>
                            <li>6.4 - O número da Mesa deve estar disponivel para que o processo seja concluído com sucesso sem transtornos, pois esta informação é gerenciada pelo fator humano não pelo sistema.</li>
                            <li>6.5 - O atendimento é dividido em x status: coletado, em processo, pronto, entregue a mesa, finalizado, cancelado</li>
                            <li>6.5.1 - Coletado: registrado ficando disponível para o em processo, reservando verificando e reservando a quantidade necessária de itens de cardápio</li>
                            <li>6.5.2 - Em processo: retirando da quantidade reservada, e iniciando o processo de confecção</li>
                            <li>6.5.3 - Pronto: pedido pronto para ser levado a mesa do cliente</li>
                            <li>6.5.4 - Entregue a mesa: pedido entregue e pronto para ser finalizado</li>
                            <li>6.5.5 - Finalizado: finalizando o atendimento mediante pagamento, liberando a mesa para novos atendimentos</li>
                            <li>6.5.5 - Cancelado: Finaliza forçadamente o atendimento, de maneira que se o atendimento estiver em estágio de coletado, a quantidade reservada é retirada</li>
                            <li>6.8 - Há cálculos automatizados para fazer a redução automática no estoque do ingrediente, assim como reserva garantindo que ao pedir um item tenha os ingredientes necessários</li>
                            <li>6.9 - As Datas de controle são obtidos automaticamente</li>
                        </ul>
                    </p>
                </div>

                <div class="conteudobox">
                    <h2 id="Tecnologias">Tecnologias</h2>
                    <p>
                        <h2>Api Rest</h2>
                        <p>
                            Desenvolvido no IntelliJ IDEA Community Edition 2023.1.3, Utilizando Java Spring boot versão 3.2.2, na arquitetura clean architecture, garantindo uma segurança das informações nos processos de requisição, usando o MYSQL como Tecnologias de banco de dados. 
                        </p>
                        <p>
                            Sistema de Segurança JWT ativo e funcional, impedindo que acessos indevidos sejam feitos, tanto por pessoas não registradas como registradas no sistema, cada equipe deve acessar somente oque é de sua competência, fazendo assim o bom funcionamento dos processos.
                        </p>
                        <p>
                            Docker disponibilizado para permitir teste e uso via container, de maneira a garantir o funcionamento ideal em qualquer ambiente, sendo possível também o deploy do mesmo nos mecanismos apropriados, pois a configuração está desenvolvida e pronta para uso.
                        </p>
                        <p>
                            A página de documentação foi desenvolvida em HTML 5, CSS 3, interligada a Api Rest, via thymeleaf com conteúdo estático, pela razão de não haver grandes alterações constantes não havendo a necessidade uma inserção e manutenção de dados dinâmica.
                        </p>
                    </p>
                    <h2 id="Tecnologias">Rotas</h2>
                    <div class="boxtabela">
                        <table>
                            <caption>/fornecedor</caption>
                            <thead>
                                <tr>
                                  <th scope="col"><span>Método</span></th>
                                  <th scope="col"><span>Request</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <th scope="row">GET</th>
                                  <td><span>listarFornecedor</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">GET</th>
                                    <td><span>BuscarFornecedorPorId</span></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">POST</th>
                                    <td><span>NovoFonecedor</span></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">PUT</th>
                                    <td><span>AlterarDados</span></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">PUT</th>
                                    <td><span>AlterarEndereco</span></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">PUT</th>
                                    <td><span>AlterarContato</span></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">DELETE</th>
                                    <td><span>DeletarFornecedorPorId</span></td>
                                  </tr>
                            </tbody>
                        </table>
                        <table>
                            <caption>/notaFiscal</caption>
                            <thead>
                                <tr>
                                  <th scope="col"><span>Método</span></th>
                                  <th scope="col"><span>Request</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <th scope="row">GET</th>
                                  <td><span>ListarNotas</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">GET</th>
                                    <td><span>BuscaNotaPorId</span></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">POST</th>
                                    <td><span>NovaNota</span></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">PUT</th>
                                    <td><span>AlterarNota</span></td>
                                  </tr>
                            </tbody>
                        </table>

                        <table>
                            <caption>/produto</caption>
                            <thead>
                                <tr>
                                  <th scope="col"><span>Método</span></th>
                                  <th scope="col"><span>Request</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <th scope="row">GET</th>
                                  <td><span>ListarProdutos</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">GET</th>
                                    <td><span>BuscarProdutoPorId</span></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">POST</th>
                                    <td><span>NovoProduto</span></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">PUT</th>
                                    <td><span>AdicioanrEstoque</span></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">PUT</th>
                                    <td><span>AlterarDadosProduto</span></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">DELETE</th>
                                    <td><span>DeletarProduto</span></td>
                                  </tr>
                            </tbody>
                        </table>

                        <table>
                            <caption>/ingrediente</caption>
                            <thead>
                                <tr>
                                  <th scope="col"><span>Método</span></th>
                                  <th scope="col"><span>Request</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <th scope="row">GET</th>
                                  <td><span>ListarIngredientes</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">GET</th>
                                    <td><span>BuscaIngredientePorId</span></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">POST</th>
                                    <td><span>NovoIngrediente</span></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">PUT</th>
                                    <td><span>ALterarIngrediente</span></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">DELETE</th>
                                    <td><span>DeletarIngrediente</span></td>
                                  </tr>
                            </tbody>
                        </table>

                        <table>
                            <caption>/itemCardapio</caption>
                            <thead>
                                <tr>
                                  <th scope="col"><span>Método</span></th>
                                  <th scope="col"><span>Request</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <th scope="row">GET</th>
                                  <td><span>ListarItemCardapio</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">GET</th>
                                    <td><span>BuscarItemCardapioPorId</span></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">POST</th>
                                    <td><span>NovoItemCardapio</span></td> 
                                  </tr>
                                  <tr>
                                    <th scope="row">PUT</th>
                                    <td><span>EditarItemCardapio</span></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">PUT</th>
                                    <td><span>AlterarIngredientes</span></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">DELETE</th>
                                    <td><span>ExcluirItemCardapio</span></td>
                                  </tr>
                            </tbody>
                        </table>

                        <table>
                            <caption>/atendimento</caption>
                            <thead>
                                <tr>
                                  <th scope="col"><span>Método</span></th>
                                  <th scope="col"><span>Request</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <th scope="row">GET</th>
                                  <td><span>ListarAtendimentos</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">GET</th>
                                    <td><span>BuscarAtendimentoPorId</span></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">POST</th>
                                    <td><span>NovoAtendimento</span></td> 
                                  </tr>
                                  <tr>
                                    <th scope="row">PUT</th>
                                    <td><span>AdicionarItemCardapio</span></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">PUT</th>
                                    <td><span>IniciarPedido</span></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">PUT</th>
                                    <td><span>PedidoPronto</span></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">PUT</th>
                                    <td><span>PedidoEntregue</span></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">PUT</th>
                                    <td><span>PedidoFinalizado</span></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">PUT</th>
                                    <td><span>CancelarPedido</span></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">DELETE</th>
                                    <td><span>DeletarAtendimento</span></td>
                                  </tr>
                            </tbody>
                        </table>
                    </div>  
                    <h2 id="Tecnologias">Segurança</h2>
                    <div class="boxtabela">
                        <table>
                            <caption>ATENDIMENTO</caption>
                            <thead>
                                <tr>
                                <th scope="col"><span>Método</span></th>
                                <th scope="col"><span>Request</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th scope="row">GET</th>
                                <td><span>/atendimento/**</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">POST</th>
                                    <td><span>/atendimento/**</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">PUT</th>
                                    <td><span>/atendimento/AdicionarItemCardapio</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">PUT</th>
                                    <td><span>/atendimento/PedidoEntregue</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">PUT</th>
                                    <td><span>/atendimento/PedidoFinalizado</span></td>
                                </tr>
                            </tbody>
                        </table>

                        <table>
                            <caption>COZINHA</caption>
                            <thead>
                                <tr>
                                <th scope="col"><span>Método</span></th>
                                <th scope="col"><span>Request</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th scope="row">GET</th>
                                <td><span>/atendimento/**</span></td>  
                                </tr>
                                <tr>
                                    <th scope="row">GET</th>
                                    <td><span>/itemCardapio/**</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">GET</th>
                                    <td><span>/ingrediente/**</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">POST</th>
                                    <td><span>/itemCardapio/**</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">POST</th>
                                    <td><span>/ingrediente/**</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">PUT</th>
                                    <td><span>/itemCardapio/**</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">PUT</th>
                                    <td><span>/itemCardapio/**</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">PUT</th>
                                    <td><span>/ingrediente/**</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">PUT</th>
                                    <td><span>/atendimento/IniciarPedido</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">PUT</th>
                                    <td><span>/atendimento/PedidoPronto</span></td>
                                </tr>
                            </tbody>
                        </table>

                        <p> ADMIN: Acesso total</p>
                    </div>
                </div>

                <div class="conteudobox">
                    <h2 id="Contato">CONTATO</h2>
                    <p>
                        <div class="boxContato">
                            
                            <div class="imagemPergil">
                                    
                                <img width="40%"height="400px" src="./Imagem/perfil.jpeg"/>

                            </div>
                            <div class="informacoesContato">
                                <p> E-mail: devquinteiro@gmail.com </p>
                                <p> Telefone: (65) 99672-5190 </p>
                            </div>

                        </div>
                    </p>
                </div>

            </section>

        </div>
    </body>
</html>